@import "tailwindcss";

/* slick carousel styles */
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

/* Global colors */
:root {
  --background: #FCF9EA;      /* Page background */
  --foreground: #171717;      /* Default text color */

  /* Custom colors */
  --color-primary: #FCF9EA;
  --color-secondary: #06091c;
  --color-accent: #33b5e8;  
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-space-grotesk), system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", sans-serif;
    overflow: hidden;
}

/* RTL Support */
[dir="rtl"] body {
  direction: rtl;
}

[dir="rtl"] .navbar-container {
  direction: ltr; /* Keep navbar layout consistent */
}

/* Convenience classes for background colors */
.bg-primary { background-color: var(--color-primary); }
.bg-secondary { background-color: var(--color-secondary); }
.bg-accent { background-color: var(--color-accent); }

/* Convenience classes for text colors */
.text-primary { color: var(--color-primary); }
.text-secondary { color: var(--color-secondary); }
.text-accent { color: var(--color-accent); }
