@import "tailwindcss";

/* slick carousel styles */
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";


/* Global colors */
:root {
  --background: #FCF9EA;      /* Page background */
  --foreground: #171717;      /* Default text color */

  /* Custom colors */
  --color-primary: #FCF9EA;    /* Blue */
  --color-secondary: #171717;  /* Black */
  --color-accent: #6EFF33;     /* Green */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Montserrat, Helvetica, sans-serif;
}

/* RTL Support */
[dir="rtl"] body {
  direction: rtl;
}

[dir="rtl"] .navbar-container {
  direction: ltr; /* Keep navbar layout consistent */
}

/* Convenience classes for background colors */
.bg-primary { background-color: var(--color-primary); }
.bg-secondary { background-color: var(--color-secondary); }
.bg-accent { background-color: var(--color-accent); }

/* Convenience classes for text colors */
.text-primary { color: var(--color-primary); }
.text-secondary { color: var(--color-secondary); }
.text-accent { color: var(--color-accent); }
